# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jbh93\OneDrive - Østfold University College\Informasjonsteknologi\Rammeverk\Prosjekt\Main\Webplate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
